---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contáctanos - TheCountryHouse">
  <div class="mx-auto max-w-lg text-center">
    <h1 class="text-4xl font-bold">Contáctanos</h1>
    <p class="mt-4 text-lg text-charcoal-gray">
      ¿Tienes alguna pregunta? Nos encantaría saber de ti. Contáctanos a través del siguiente formulario.
    </p>
  </div>

  <form action="#" class="mx-auto mt-8 mb-0 max-w-md space-y-4">
    <div>
      <label for="name" class="sr-only">Nombre</label>
      <div class="relative">
        <input
          type="text"
          id="name"
          name="name"
          class="w-full rounded-lg border-earth-brown p-4 pe-12 text-sm shadow-sm"
          placeholder="Ingresa tu nombre"
        />
      </div>
    </div>

    <div>
      <label for="email" class="sr-only">Correo Electrónico</label>
      <div class="relative">
        <input
          type="email"
          id="email"
          name="email"
          class="w-full rounded-lg border-earth-brown p-4 pe-12 text-sm shadow-sm"
          placeholder="Ingresa tu correo"
        />
      </div>
    </div>

    <div>
      <label for="message" class="sr-only">Mensaje</label>
      <div class="relative">
        <textarea
          id="message"
          name="message"
          class="w-full rounded-lg border-earth-brown p-4 pe-12 text-sm shadow-sm"
          placeholder="Escribe tu mensaje"
          rows="4"
        ></textarea>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="inline-block rounded-lg bg-forest-green px-5 py-3 text-sm font-medium text-cream-beige"
      >
        Enviar Mensaje
      </button>
    </div>
  </form>
</Layout>
