<footer class="bg-cream-beige">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
                <img src="/countryhousechile.png" alt="TheCountryHouse Logo" class="h-24 w-auto" />
        <p class="mt-4 text-sm text-charcoal-gray">
          En Country House Chile, los productos son hechos a mano con materiales de madera.
        </p>
        <div class="mt-6 flex gap-4">
          <!-- Social media links here -->
        </div>
      </div>
      <div class="grid grid-cols-2 gap-8 lg:col-span-2 sm:grid-cols-4">
        <div>
          <p class="font-medium text-charcoal-gray">Tienda</p>
          <ul class="mt-6 space-y-4 text-sm">
            <li><a href="/products" class="text-charcoal-gray transition hover:opacity-75">Todos los Productos</a></li>
            <li><a href="#" class="text-charcoal-gray transition hover:opacity-75">Novedades</a></li>
            <li><a href="#" class="text-charcoal-gray transition hover:opacity-75">Ofertas</a></li>
          </ul>
        </div>
        <div>
          <p class="font-medium text-charcoal-gray">Nosotros</p>
          <ul class="mt-6 space-y-4 text-sm">
            <li><a href="/about" class="text-charcoal-gray transition hover:opacity-75">Sobre Nosotros</a></li>
            <li><a href="#" class="text-charcoal-gray transition hover:opacity-75">Carreras</a></li>
            <li><a href="#" class="text-charcoal-gray transition hover:opacity-75">Blog</a></li>
          </ul>
        </div>
        <div>
          <p class="font-medium text-charcoal-gray">Enlaces Útiles</p>
          <ul class="mt-6 space-y-4 text-sm">
            <li><a href="/contact" class="text-charcoal-gray transition hover:opacity-75">Contacto</a></li>
            <li><a href="#" class="text-charcoal-gray transition hover:opacity-75">Preguntas Frecuentes</a></li>
            <li><a href="#" class="text-charcoal-gray transition hover:opacity-75">Envíos y Devoluciones</a></li>
            <li><a href="#" class="text-charcoal-gray transition hover:opacity-75">Términos de Servicio</a></li>
          </ul>
        </div>
        <div>
          <p class="font-medium text-charcoal-gray">Contáctanos</p>
          <ul class="mt-6 space-y-4 text-sm">
            <li><span class="text-charcoal-gray">Calle Principal 123, Copiapó, Chile</span></li>
            <li><a href="mailto:support@thecountryhouse.com" class="text-charcoal-gray transition hover:opacity-75">support@countryhousechile.com</a></li>
            <li><a href="tel:123-456-7890" class="text-charcoal-gray transition hover:opacity-75">123-456-7890</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t border-earth-brown pt-8">
      <p class="text-center text-xs leading-relaxed text-charcoal-gray">
        © CountryHouseChile 2025. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>